
<div class="main-container">

    <div class="first-part">
        <img src="<%= cl_image_path @contest.user.avatar.key %>" class="avatar"/>
        <div class="contest-h5"><h5>@<%= @contest.user.nickname %></h5>
          <%count_down = @contest.start_date - Date.today%>
          <div class="countdown"><p><%= count_down.to_i %> days to apply</p></div>
        </div>
    </div>
  <img src="<%= cl_image_path @contest.photo.key %>" class="show-img mb-2"/>
  <div class="date">
    <p><%= @contest.start_date.strftime"%b %d" %> to <%= @contest.end_date.strftime"%b %d" %></p>
  </div>
  <h5><%= @contest.title %></h5>
  <div class="show-content"><p><%= @contest.content %></p></div>

  <div class="tags">
    <% @contest.contest_tags.each do |contest_tag| %>
        <div class="tag"><p><%= contest_tag.category.name %></p></div>
    <% end %>
  </div>

  <div class="separate"></div>
  <p><span><%= @contest.city %></span>, <%= @contest.location %></p>
  <div id="map" class="map-style"
    style="width: 100%; height: 200px"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% if current_user.artist? %>
    <%= link_to "Apply", new_contest_contest_application_path(@contest), class: "pink-button-sm show-apply mt-4"%>
  <% end %>

</div>
