<div class="chat-first-section">
  <div class="content-first-section">
    <img src="<%= cl_image_path @chatroom.other_user(current_user).avatar.key %>" class = "avatar-large mr-2"> 
    <div class="nickname"><h5>@<%= @chatroom.other_user(current_user).nickname %> </h6></div>
  </div>
</div>
<div class="chat-second-section" id="messages" data-chatroom-id="<%= @chatroom.id %>" data-current-user="<%= @current_user_id %>">
  <div class="main-container d-flex flex-column">
    <%@chatroom.messages.each do |message| %>
      <%= render message, other_user: @chatroom.other_user(current_user), user_is_author: message.user == current_user%>
    <% end %>
  </div>
</div>
<div class="chat-position">
  <div class="main-container">
  <div class="">
    <%= simple_form_for [ @chatroom, @message ], html: {class: "chat-third-section"}, remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Write your message", wrapper_html: {class: "text-chat"}, input_html: {class: "input-chat"} %>
      <div class="form-group button-chat">
        <%= f.button :submit, "Send", class: "chat-pink-button-sm" %>
      </div>
    <% end %>
  </div>
  </div>
</div>
