
<div class= "main-container">

  <div class="profile-product">
    <img class="avatar-large-bordered" src="<%= cl_image_path @user.avatar.key %>" />
    <div class= "profile-infos">
      <div class="d-flex">
        <h3 class= "mt-3">@<%= @user.nickname %></h3>
        <% if current_user.id == params[:id].to_i %>
          <div class="pink-button-sm mt-3 ml-3">
            <%= link_to "Edit", edit_user_path(@user) %>
          </div>

        <%else %>
          <div class= "pink-button-sm mt-3 ml-3">
            <% if user_signed_in? && current_user.is_following?(@user.id) %>
              <%= link_to "Unfollow", unfollow_user_path(@user.id), method: :post %>
            <% else %>
              <%= link_to "Follow", follow_user_path(@user.id), method: :post%>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class= "d-flex">
        <h5><%= @user.type %> -</h5>
        <h5 class="ml-1"> <%= @user.location.capitalize %></h5>
      </div>
      <div class="tags mt-3">
        <% @user.interests.each do |interest| %>
          <div class="tag"><p>#<%= interest.category.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

    <div class="line-divider align-center ml-4"></div>
      <div class= "bio">
        <h5 class= "ml-2">Biography</h5>
        <p> <%= @user.biography %></p>
      </div>
    <div class="line-divider profile-center mt-2 ml-4"></div>




 <div class= "mt-2">
  <div class="px-3">
    <%if @photos.length == 1 %>
      <div class="post-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"><%= cl_image_tag @photos.first.key%>
      </div>

    <% else %>
      <div class= "cards_pictures" >
        <% @photos.each do |photo| %>
          <%#= link_to post_path(photo.id) do %>
            <div class= "card-category-pic" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"><%= cl_image_tag photo.key%>
            </div>
          <%# end %>
        <% end %>
      </div>
    <% end %>
  </div>
    <div class="line-divider ml-4">
    </div>
  </div>
</div>
