
<div class= "main-container">

  <div class="profile-product">
    <% if @user.avatar.present? %>
      <img class="avatar-bordered" src="<%= cl_image_path @user.avatar.key %>" />
    <% else %>
      <img class="avatar-bordered" src= "<%= asset_path( 'missing-image-avatar.jpg' ) %>" />
    <% end %>
    <div class= "profile-infos">

          <div class="nickname-message">
          <h3 class= "mt-0 mb-0">@<%= @user.nickname %></h3>
              <%= link_to chatrooms_path(sender_id: current_user.id, receiver_id: @user.id), method: :post do %>
              <i class="fa fa-paper-plane-o envelope-size mt-2" aria-hidden="true"></i>
        <% end %>
          </div>
        <% if @user.business? %>
          <h5 class = "ml-1 "><%= @user.business_name %></h5>
        <% else %>

         <h5 class = "ml-1 mt-2"><%= @user.first_name%> <%= @user.last_name %></h5>
        <% end %>

        <h5 class="ml-1 mt-1"> - <%= @user.location.capitalize %> -</h5>
      <div class="tags mt-1">
        <% @user.interests.each do |interest| %>
          <div><p class = "mt-1 mr-1">#<%= interest.category.name %></p>
          </div>
        <% end %>
      </div>
            <div class="d-flex align-items-center justify-content-between">

              <% if current_user && current_user.id == params[:id].to_i %>

                <div class="mt-2" >
                  <%= link_to "Edit", edit_user_registration_path, method: :get %>
                </div>
              <%else %>
                <div class= "mt-1">
                  <% if user_signed_in? && current_user.is_following?(@user.id) %>
                    <%= link_to "Unfollow", "/users/#{@user.id}/unfollow?user_id=#{@user.id}", method: :post %>
                  <% else %>
                    <%= link_to "Follow", "/users/#{@user.id}/follow?user_id=#{@user.id}", method: :post%>
                  <% end %>
                </div>
              <% end %>
            </div>
    </div>
  </div>

    <div class="line-divider align-center "></div>
      <div class= "bio">
        <h5 class= "ml-3">Biography</h5>
        <p class="ml-3"> <%= @user.biography %></p>
      </div>
    <div class="line-divider profile-center mt-2"></div>

        <div class= "mt-2">
        <div class="px-3">
            <div class= "cards_pictures" >
              <% @posts.each do |post| %>
                  <!-- PHOTO / MODAL BUTTON -->
                  <div data-toggle="modal" data-target="#exampleModal" class= "card-category-pic" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"><%= cl_image_tag post.photos.first.key%>
                  </div>
                  <!-- MODAL!!! -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="height: 90%">
                              <div class="modal-content">

                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="padding-left: 7px"><%= post.title  %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>

                                  <div class="modal-body">
                                  <div class="card-post">

                                    <!-- TOP INFOS -->
                                    <div class="card-post-top-infos">
                                      <!-- AVATAR AND NICKNAME -->
                                      <div class="user-avatar-nickname">
                                        <% if post.user.avatar.present? %>
                                          <img class="avatar-small" src="<%= cl_image_path post.user.avatar.key %>" />
                                        <% else %>
                                          <img class="avatar-small" src= "<%= asset_path( 'missing-image-avatar.jpg' ) %>" />
                                        <% end %>
                                        <p id="comment-anchor-<%=post.id%>" >@<%=post.user.nickname.downcase%></p>
                                      </div>
                                      <!-- END OF AVATAR AND NICKNAME -->

                                      <!-- LIKES -->
                                      <div class="post-reactions">
                                        <% if current_user && !current_user.liked?(post)%>
                                          <div class="reaction-type"><p class="like-count"><%= post.get_likes.size %></p><%= link_to '', like_post_path(post), html_options = { method: :put, class:'fal fa-heart like', remote: true}%></div>
                                        <% elsif current_user && current_user.liked?(post)%>
                                          <div class="reaction-type"><p class="like-count" ><%= post.get_likes.size %></p><%= link_to '', dislike_post_path(post), html_options = { method: :put, class:'fas fa-heart like', remote: true}%></div>
                                        <% else %>
                                          <div class="reaction-type"><p  class="like-count"><%= post.get_likes.size %></p><%= link_to '', new_user_session_path, html_options = {class: 'fal fa-heart'}%></div>
                                        <% end %>
                                      </div>
                                      <!-- END OF LIKES -->
                                    </div>
                                    <!-- END TOP INFOS -->

                                    <!-- POST CONTENT (IMG & DESCRIPTION) -->
                                    <div class="post-content">
                                      <!-- PHOTOS ONE OR CARROUSEL -->
                                        <img class="post-image" src="<%= cl_image_path post.photos.first.key %>" alt="">
                                      <!-- END OF IMAGES -->

                                      <!-- DESCRIPTION -->
                                      <div class="post-description">
                                        <p><%= post.description%></p>
                                      </div>
                                      <!-- END OF DESCRIPTION -->
                                    </div>
                                    <!-- END OF POST CONTENT -->

                                    <!-- POST COMMENTS -->
                                    <div class="post-comments-container">
                                        <!-- COMMENTS -->
                                        <% post.comments.each do |comment| %>
                                        <p id="comment-<%= comment.id %>"><span style="font-weight: bolder">@<%= comment.user.nickname %>  </span><%= comment.content %></p>
                                        <% end %>
                                    </div>
                                    <!-- END OF COMMENTS SECTION -->
                                  </div>
                                  <!-- END OF POST -->

                                  </div>

                              </div>
                            </div>
                          </div>
                        <!-- END OF MODAL -->
              <% end %>
              <!-- END OF FOR EACH POST ITERATION -->
            </div>
        </div>
      <div class="line-divider ">
    </div>
  </div>
</div>
