<div class="card-post">

  <!-- TOP INFOS -->
  <div class="card-post-top-infos">
    <!-- AVATAR AND NICKNAME -->
    <div class="user-avatar-nickname">
      <% if post.user.avatar.present? %>
        <img class="avatar-small" src="<%= cl_image_path post.user.avatar.key %>" />
      <% else %>
        <img class="avatar-small" src= "<%= asset_path( 'missing-image-avatar.jpg' ) %>" />
      <% end %>
      <a href="/users/<%=post.user.id %>">
        <p id="comment-anchor-<%=post.id%>" >@<%=post.user.nickname.downcase%></p>
      </a>
      <% if current_user %>
        <% if (current_user != post.user) && !@followings.include?(post.user)%>
          <%= link_to "Follow", "/users/#{post.user.id}/follow?user_id=#{post.user.id}&post_id=#{post.id}", html_options = { method: :post, class:"post-follow-link user-post-#{post.user.id}", id: "post-#{post.id}", remote: true }%>
        <% elsif (current_user != post.user) && @followings.include?(post.user)%>
          <%= link_to "Unfollow", "/users/#{post.user.id}/unfollow?user_id=#{post.user.id}&post_id=#{post.id}", html_options = { method: :post, class:"post-follow-link user-post-#{post.user.id}", id: "post-#{post.id}", remote: true }%>
        <%end  %>
      <% end %>
    </div>
    <!-- END OF AVATAR AND NICKNAME -->

    <!-- LIKES -->
    <div class="post-reactions">
      <% if current_user && !current_user.liked?(post)%>
        <div class="reaction-type">
          <p class="like-count"><%= post.get_likes.size %></p>
          <%= link_to '', like_post_path(post), html_options = { method: :put, class:'fal fa-heart like', remote: true}%>
        </div>
      <% elsif current_user && current_user.liked?(post)%>
        <div class="reaction-type">
          <p class="like-count" ><%= post.get_likes.size %></p>
          <%= link_to '', dislike_post_path(post), html_options = { method: :put, class:'fas fa-heart like', remote: true}%>
        </div>
      <% else %>
        <div class="reaction-type">
          <p  class="like-count"><%= post.get_likes.size %></p>
          <%= link_to '', new_user_session_path, html_options = {class: 'fal fa-heart'}%>
        </div>
      <% end %>
    </div>
    <!-- END OF LIKES -->

  </div>
  <!-- END TOP INFOS -->

  <!-- POST CONTEST (IMG & DESCRIPTION) -->
  <div class="post-content">
    <!-- POST IMAGES -->
    <% if post.photos.first.present? %>
        <img class="post-image" src="<%= cl_image_path post.photos.first.key %>" />

    <% end %>

    <!-- END OF IMAGES -->

    <!-- DESCRIPTION -->
    <div class="post-description">
      <h5><%= post.title  %></h5>
      <% if post.description.length < 100 %>
        <p><%= post.description%></p>
      <% else %>
        <div class = "post-description-toggle">
          <p class = "short-description active" ><span> <%= truncate(post.description, length: 100, separator: " " )%> </span> <span class = "show-description-link active">Show</span></p>
          <p class = "full-description" ><%= post.description%> <span class = "hide-description-link">Hide</span></p>
        </div>
      <% end %>
    </div>
    <!-- END OF DESCRIPTION -->

  </div>
  <!-- END OF POST CONTENT -->


  <!-- POST COMMENTS -->
  <div class="post-comments-container">
    <!-- COMMENTS -->
    <% if post.comments.count ==1 %>
      <p id="comment-<%= post.comments.first.id %>">
        <span style="font-weight: bolder">@<%= post.comments.first.user.nickname %>  </span>
        <%= post.comments.first.content %>
      </p>
    <% elsif post.comments.count > 1 %>
      <p id="comment-<%= post.comments.first.id %>">
        <span style="font-weight: bolder">@<%= post.comments.first.user.nickname %>  </span>
        <%= post.comments.first.content %>
      </p>
      <div class="display-comments">
        <p class = "display-comments-link active">See all <%= post.comments.count %> comments...</p>
        <div class="hidden-comments">
          <% comments_rest = post.comments[1, post.comments.length - 1] %>
          <% comments_rest.each do |comment| %>
            <p id="comment-<%= comment.id %>">
              <span style="font-weight: bolder">@<%= comment.user.nickname %>  </span>
              <%= comment.content %>
            </p>
          <% end %>
        </div>
        <p class = "hide-comments-link">Hide comments</p>
      </div>
    <% end %>
      <!-- COMMENT FORM -->
    <% if current_user %>
      <%= form_for [post, Comment.new], html: {class: "comment-form", remote: true} do |f| %>
        <%= f.text_field :content, label: false, placeholder: "Add your comment", autocomplete: false, class: "comment-input"   %>
        <%= f.submit "Post", class: "comment-submit"   %>
      <% end %>
    <% end %>
    <!-- END OF COMMENT FORM -->
  </div>
  <!-- END OF COMMENTS SECTION -->

</div>
<!-- END OF POST -->
