<% if @my_followed_posts == [] %>
  <p class="main-container mb-0" style="text-align:center; padding-top:30px; height:calc(100vh - 160px);">
  Uh, oh! Seems like you are not following anyone yet!</p>
<% else %>
  <% @my_followed_posts.each do |post| %>
    <div class="card-post">
      <div class="card-post-top-infos">
        <div class="user-avatar-nickname">
          <img class="avatar-small" src="<%= cl_image_path post.user.avatar.key %>" />
          <a href="/users/<%=post.user.id %>"><p>@<%=post.user.nickname.downcase%></p></a>
          <%= link_to "Unfollow", unfollow_user_path(post.user.id), method: :post, id:"post-follow-link"%>
        </div>
        <div class="post-reactions">
          <div class="reaction-type"><p><%= post.likes.count %> </p><a href="#"><i class="fal fa-heart"></i></a></div>
        </div>
      </div>
      <div class="post-content">

        <% if post.photos.count() == 1 %>
          <img class="post-image" src="<%= cl_image_path post.photos.first.key %>" alt="">
        <% else %>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <% post.photos.each_with_index do |photo, index| %>
                  <li data-target="#carouselExampleIndicators" data-slide-to="<%=index.to_s%>" class ="<%= "active" if index == 0 %>"></li>
                <% end %>
              </ol>
              <div class="carousel-inner" style="">
                <% post.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= "active" if index == 0 %>"><img class="d-block post-image" src="<%=photo.service_url %>"></div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        <% end %>

      </div>

        <div class="post-description">
          <h5><%= post.title  %></h5>
          <p><%= post.description %></p>
        </div>

        <div class="line-divider"></div>


        <div class="post-comments-container">
            <% if post.comments.count ==1 %>
              <p id="comment-<%= post.comments.first.id %>"><span style="font-weight: bolder">@<%= post.comments.first.user.nickname %>  </span><%= post.comments.first.content %></p>
            <% elsif post.comments.count > 1 %>
              <p id="comment-<%= post.comments.first.id %>"><span style="font-weight: bolder">@<%= post.comments.first.user.nickname %>  </span><%= post.comments.first.content %></p>
              <div class="display-comments">
              <p class = "display-comments-link active">See all <%= post.comments.count %> comments...</p>
              <p class = "hide-comments-link">Hide comments</p>
              <div class="hidden-comments">
                <% comments_rest = post.comments[1, post.comments.length - 1] %>
                <% comments_rest.each do |comment| %>
                    <p id="comment-<%= comment.id %>"><span style="font-weight: bolder">@<%= comment.user.nickname %>  </span><%= comment.content %></p>
                <% end %>
              </div>
              </div>
            <% end %>

            <%= form_for [post, Comment.new], html: {class: "comment-form", id:"comment-anchor-#{post.id}"}, remote: true do |f| %>
              <%= f.text_field :content, label: false, placeholder: "Add your comment", class: "comment-input"   %>
              <%= f.submit "Post", class: "comment-submit"   %>
            <% end %>
        </div>

    </div>
  <% end %>
<% end %>
