<div class="main-container">
  <h3>Application form</h3>
  <%= simple_form_for([@contest, @contest_application]) do |f| %>
    <%= f.error_notification %>
    <div class="motivation-form">
      <%= f.input :motivation,
                  required: true,
                  autofocus: true,

                  input_html: { class: "motivation-input", placeholder: "Write a motivation" }%> 

      <div class="">
            <p>Photos *</p>
            <div class="pink-button-sm-secondary photo-button">Upload</div>  
         <%= f.input :photos, required: true, label: false, as: :file, input_html: { multiple: true, class: "photo-input change-button"} %>  
      </div>
      <div class="file-names">
      </div>
    </div>
    <div class="pink-button-lg center-button"><%= f.button :submit, "Apply" %></div>
    <% end %>
</div>
