<div class="main-container">
  <h3>Submit your application</h3>
  <%= simple_form_for([@contest, @contest_application]) do |f| %>
    <%= f.error_notification %>
    <div class="motivation-form">
      <%= f.input :motivation,
                  required: true,
                  autofocus: true,
                  input_html: { class: "motivation-input", placeholder: "Describe your motivation for the contest" }%>
      <div class="">
            <p>Upload a sample of your work *</p>
            <div class="pink-button-secondary photo-button">Upload</div>
         <%= f.input :photos, required: true, label: false, as: :file, input_html: { multiple: true, class: "photo-input change-button"} %>
        <div class="file-names">

        </div>
      </div>

    </div>
    <!-- <div class="pink-button-lg center-button"><%#= f.button :submit, "Apply" %></div> -->
    <div class="pink-button-lg" data-toggle="modal" data-target="#exampleModalCenter">Apply</div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Premium Feature</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-body">
              <p>In order to apply to the contest you need a <strong>Premium membership.</strong></p>
              <p>Upgrade now for only <%= humanized_money_with_symbol(@contest.contest_price)%> a month to have <strong>infinite access to contest applications and open chat </strong> with all galleries and museums.</p>
            </div>
          </div>
          <div class="modal-footer" style= "text-align: center">
            <div class="pink-button" style= "margin: auto"><%= f.button :submit, "Continue Application" %></div>
           <!--  <div class="main-container" style = "width: 100%; text-align: left" href="/contests">
              <i class="fa fa-arrow-left mr-2 application-back"  aria-hidden="true"></i>
            </div> -->
          </div>
       </div>
    </div>
  <% end %>
  </div>
</div>
