<div class= "main-container" style="margin-bottom: 60px">

  <!-- ACCEPT/ REJECT BUTTONS : ONLY APPEAR IF PENDING -->
  <% if (@contest_application.pending? || @contest_application.paid?) && current_user.business? %>
    <div id="accept-app-contest-btn" class="pink-button my-2 mx-auto"> <%= link_to "Accept", contest_application_status_change_path(@contest_application, contest_application: {status: :accepted}), method: :patch %></div>
    <div id="reject-app-contest-btn" class="pink-button-secondary my-2 mx-auto" style = "padding: 10px 25px"> <%= link_to "Reject", contest_application_status_change_path(@contest_application, contest_application: {status: :rejected}), method: :patch %></div>
  <% end %>
  <!-- END OF ACCEPT/ REJECT BUTTONS-->

  <div class="card-post" style = "box-shadow: 0px 3px 15px rgba(0,0,0,0.2);">
  <!-- BACK BUTTON -->
    <% if current_user.business? %>
      <a style = "width: 100%; text-align: left" href="../dashboard">
        <i class="fa fa-arrow-left mr-2 application-back"  aria-hidden="true"></i>
      </a>
    <% else %>
      <a style = "width: 100%; text-align: left" href="/contests">
        <i class="fa fa-arrow-left mr-2 application-back"  aria-hidden="true"></i>
      </a>
    <% end %>
  <!-- USER GENERAL INFOS -->
    <div class= ".flex-column mt-3" style = "text-align:center">
      <% if @user.avatar.present? %>
        <img class="avatar-large-bordered" src="<%= cl_image_path @user.avatar.key %>" />
      <% else %>
        <img class="avatar-large-bordered" src= "<%= asset_path( 'missing-image-avatar.jpg' ) %>" />
      <% end %>
      <h5 class="mb-0"><%= @user.first_name%> <%= @user.last_name %></h5>
      <a href="/users/<%=@user.id %>"><p class = "mb-0">@<%=@user.nickname.downcase%></p></a>
    </div>

  <div class="line-divider align-center"></div>

  <!-- USER MOTIVATION -->
    <div class = "card-post post-content">
      <h5>Motivation</h5>
      <p class="ml-3" style="overflow:hidden"> <%= @contest_application.motivation %></p>
      <h5>Selected work</h5>
      <% @contest_application.photos.each do |photo| %>
        <img class="post-image mb-3" src="<%= cl_image_path photo.key %>" alt="">
        <br>
      <% end %>
    </div>
  <!-- END CARD -->
  </div>
<!-- END -->
</div>

<!-- we need to add if/else to see if its paid -->



