
<div class = "banner">
    <h1>Create. Share.<br>Connect. Showcase.</h1>
    <%= link_to t(".sign_in", default: "Register"), new_user_session_path, class: "pink-button" %>
</div>

  <div class="home-card" id="create">
      <%= image_tag("art2create.jpg", class: "home-image") %>
      <div class="home-content">
        <h2> Create </h2>
        <p> You have created wonderfull art and have an amazing portfolio</p>
      </div>
  </div>

  <div class="home-card" id="share">
    <%= image_tag("art1.jpg", class: "home-image") %>
    <div class="home-content">
      <h2> Share </h2>
      <p> Share your art on your profile and browse through art from other artists</p>
    </div>
  </div>


  <div class="home-card" id="connect">
    <%= image_tag("art2.jpg", class: "home-image") %>
      <div class="home-content">
        <h2> Connect </h2>
        <p> Connect with galleries and other artists and participate contests</p>
      </div>
  </div>

  <div class="home-card" id="showcase">
    <%= image_tag("art4.jpg", class: "home-image") %>
    <div class="home-content">
      <h2> Showcase</h2>
      <p>By winning a contest you get the opportunity to showcase your art in amazing galleries</p>
    </div>
  </div>

  <div>
    <h2>Discover</h2>

    <!-- cards carrousel -->
  </div>


  <h2>Artist of the week</h2>
    <div class="weekly-artist-card">
      <%= image_tag("artist.jpg", class: "weekly-artist-card-image") %>
      <div class="weekly-artist-card-content">
        <h3>Ella</h3>
        <p> She works with oil on canvas and focusess on landscapes</p>
      </div>
    </div>
  <br>

  <h2>Newest Gallery</h2>
  <div class="weekly-gallery-card">
    <div class="weekly-gallery-card-content">
      <h3>Bodega A</h3>
      <p> Upcoming gallery in the center of Madrid. Modern art and photograpy.</p>
     </div>
      <%= image_tag("gallery.jpg", class: "weekly-gallery-card-image") %>


  </div>







