
<div class = "banner">
    <h1>Share. Connect.<br>Showcase.</h1>
   <% if !current_user %> <%= link_to t(".sign_in", default: "Register"), new_user_session_path, class: "pink-button" %> <% end %>
</div>

<div class="main-container">
  <div class="home-card" id="share">
    <%= image_tag("art4.jpg", class: "home-image") %>
    <div class="home-content">
      <h2> Share </h2>
      <p> Share your art on your profile and browse through art from other artists</p>
      <div class="home-links"> <%= link_to 'Share your art', new_post_path %></div>
    </div>
  </div>


  <div class="home-card" id="connect">
    <%= image_tag("art2.jpg", class: "home-image") %>
      <div class="home-content">
        <h2> Connect </h2>
        <p> Connect with galleries and other artists and participate in contests</p>
        <div class="home-links"> <%= link_to 'Explore', posts_path %></div>
      </div>
  </div>

  <div class="home-card" id="showcase">
    <%= image_tag("art1.jpg", class: "home-image") %>
    <div class="home-content">
      <h2> Showcase</h2>
      <p>By winning a contest you get the opportunity to showcase your art in amazing galleries.</p>
      <div class="home-links"> <%= link_to 'Contests', contests_path %></div>
    </div>
  </div>

 <h2>Artist of the Week</h2>
   <%= link_to 'users/24' do  %>
        <div class="weekly-artist-card">
          <%= image_tag("artist.jpg", class: "weekly-artist-card-image") %>
          <div class="weekly-artist-card-content">
            <h3>Ella</h3>
            <p> Her expertise is oil on canvas paintings and in general she focusess on painting landscapes</p>
          </div>
        </div>
    <% end %>
  <br>

  <h2>Newest Gallery</h2>
    <div class="carousel-home-container">
        <div class='mr-3'>
    <strong>Bodega M</strong>, a new and upcoming gallery in the center of Madrid. Exclusively showcasing modern art and photograpy.
    <br>
    <br>


   <div class ='home-links'> <%= link_to 'Visit gallery', root_path %> </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide w-50" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="background-image: url( <%= image_path 'gallery5.jpg' %>)" class="carousel-home-image"> </div>
        <!-- <img class="d-block " src="https://images.unsplash.com/photo-1578985824626-945a6f546304?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" alt="First slide"> -->
        <%#= image_tag("gallery1.jpg", alt="First slide" class: "d-block w-50") %>
      </div>
      <div class="carousel-item">
        <div style="background-image: url( <%= image_path 'gallery2.jpg' %>)" class="carousel-home-image"> </div>
        <!-- <img class="d-block " src="https://images.unsplash.com/photo-1515169974372-0a322886d279?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1376&q=80" alt="Second slide"> -->
      </div>
      <div class="carousel-item">
        <div style="background-image: url( <%= image_path 'gallery3.jpg' %>)" class="carousel-home-image"> </div>
        <!-- <img class="d-block " src="https://images.unsplash.com/photo-1578985824626-945a6f546304?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80" alt="Third slide"> -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</div>




</div>









