<% @posts.each do |post| %>
  <div class="card-post">
    <div class="card-post-top-infos">
      <div class="user-avatar-nickname">
        <img class="avatar-small" src="<%= cl_image_path current_user.avatar.key %>" />
        <a href="/users/<%=post.user.id %>"><p>@<%=post.user.nickname.downcase%></p></a>
      </div>
      <div class="post-reactions">
        <div class="reaction-type"><p><%= post.likes.count %> </p><a href="#"><i class="fal fa-heart"></i></a></div>
      </div>
    </div>
    <div class="post-content">
      <img class="post-image" src="<%= cl_image_path post.photos.first.key %>" alt="">
      <div class="post-description">
        <h5><%= post.title  %></h5>
        <p><%= post.description %></p>
      </div>
    </div>
    <div class="line-divider"></div>
    <div class="post-comments-container">
        <% post.comments.each do |comment| %>
        <p><span style="font-weight: bolder">@<%= comment.user.nickname %>  </span><%= comment.content %></p>
        <% end %>
        <% if post.comments.count > 1 %>
          <p id="display-comments">See all <%= post.comments.count %> comments...</p>
        <% end %>
        <form class="comment-form" action="">
          <input id="comment-input" type="text" placeholder="Add your comment">
          <input id="comment-submit" type="submit" value="Post">
        </form>

    </div>
  </div>
<% end %>
