<div class = "main-container">
<h3>Add a post</h3>
<br>
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <div class="tm-2">
    <%= f.input :title,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "title"} %>
    <%= f.input :description,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "description"} %>
          <div class="ml-5">
          <% Category.all.each do |category| %>
            <input type="checkbox" class="hidden" value="<%= category.id %>" name="post[category_ids][]" id="post_category_ids_<%= category.id %>">
            <label class="category-choice" for="post_category_ids_<%= category.id %>">
              <%= category.name %>
              <i class="fa fa-check"></i>
            </label>
            <% end %>
          </div>

    <div class="send-to-orbit">
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: "photo-input"} %>
      </div>
      <p>Photos</p>
      <div class="pink-button-sm-secondary photo-button">Upload</div>
      <div class="file-names">
      </div>
    </div>
  <br>


  <div style = "text-align: center" >
    <div class="pink-button-lg center-button"><%= f.button :submit, "Post" %></div>
  </div>
<% end %>
</div>


