<!DOCTYPE html>
<html>
  <head>
    <title>FourMuses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/b1cd6d757e.js" crossorigin="anonymous"></script>
  </head>

  <body style="min-height: 100vh; display:flex; flex-direction: column">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="page-container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
